@import url("styles/header.css");
:root {
    --cor-de-fundo: rgb(193, 225, 255);
    --cor-de-fundo2: rgb(20, 0, 30);
    --cor-da-letra-titulo: rgb(140, 82, 255);
    --cor-da-letra-escrita: rgb(0,0,0);
    --cor-do-header: rgb(255,255,255);
}

body{
    color: var(--cor-da-letra-titulo);
    font-family: "Dela Gothic One", sans-serif;
    background-color: var(--cor-do-header);
}
